<h1>Ordered Items</h1>


<table class="order six columns">
  <tr >
    <th>
      Table number
    </th>
    <th>
      food item
    </th>

    <th>
      Order Length
    </th>
    <th>
      Order complete
    </th>
  </tr>
<%@orderitem.each do |orderitem|%>
 <tr>
   <td >
     <%=orderitem.party.table_number%>
   </td>
   <td>
     <%=orderitem.food_item.name%>
   </td>
  <td class="orders_time" id='<%=orderitem.id%>' data-value='<%=((Time.now - orderitem.created_at)/60).round%>'>
      <%@time = ((Time.now - orderitem.created_at)/60).round%>
      <%=@time%>
  </td >
  <td>
      <input class="orderButtons four columns" type="button" name="name" value="Done">
  </td>
  </tr>

<% end%>
</table>
<form action="/">
  <input class="four columns" type="submit" value="Main Menu">
</form>
