<h4 class="twelve columns">
  Reciept for table <%= @party.table_number%> which had <%= @party.num_guests%> guests. The bill paid? <%= @party.paid%> </h4>

<table class="reciept twelve columns">
<tr>
  <th>
    Item name
  </th>
  <th>
    Item price
  </th>
</tr>

<%@party.food_items.each do |fooditem| %>
  <tr>
    <td>
      <%=fooditem.name%>
    </td>
    <td>
      $<%=fooditem.price%>
    </td>
  </tr>

  <%end%>

  <tr>
    <td>
      TOTAL
    </td>
    <td>
      $<%= @party.total %>
    </td>
  </tr>
</table>

  <form action="/parties/<%=@party.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" >Remove</button>
  </form>

  <form action="/">
    <input class="four columns" type="submit" value="Main Menu">
  </form>
